{% extends 'portal/base.html' %}

{% block dinamico %}
	{% if user.is_authenticated %}
		<a href="{% url 'adicionar_area' %}">Adicionar Área</a>
		{% for area in areas %}
			<div class="container post">
				<a href="{% url 'detalhes_area' pk=area.pk %}">
					<h1 class="title-post">{{ area.descricao }}</h1>
				</a>
				<p class="date">Cor: {{ area.cor }}</p>
				<p class="date">Status: {{ area.status }}</p>
			</div>
		{% endfor %}
	{% else %}
		<center><h1>Acesso Restrito</h1></center>
	{% endif %}
{% endblock %}

